@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.input {
  display: flex;
  width: 320px;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border: 1px solid color.$gray-300;
  border-radius: 8px;

  &.icon {
    background-image: url("/icons/mail.svg");
    background-repeat: no-repeat;
    background-position: 14px 8px;
    padding: 10px 14px 10px 42px;
  }

  &.empty {
    color: color.$gray-500;
  }

  &.filled {
    color: color.$gray-900;
  }

  &:disabled {
    background-color: color.$gray-50;
    color: color.$gray-500;
  }
}

.focus {
  outline: transparent;
  border: 1px solid color.$primary-300;
  box-shadow:
    0 0 0 4px #f4ebff,
    0 1px 2px 0 rgb(16 24 40 / 5%);
}

.label {
  font: font.$text-sm-semibold;
  margin: 0 0 6px;
  color: color.$gray-700;
}

.hint {
  font: font.$text-sm-regular;
  margin: 6px 0 0;
  color: color.$gray-500;
}

.error {
  border: 1px solid color.$error-300;
}

.errorMessage {
  color: color.$error-500;
  font: font.$text-sm-regular;
  margin: 6px 0 0;
}

.errorFocus {
  outline: transparent;
  box-shadow:
    0 0 0 4px #fee4e2,
    0 1px 2px 0 rgb(16 24 40 / 5%);
  border: 1px solid color.$error-300;
}

.none {
  display: none;
}
