@use "@styles/breakpoint";
@use "@styles/space";
@use "@styles/color";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: space.$s6;

  /* reset list styles */
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: breakpoint.$desktop) {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

.errorContainer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid color.$error-300;
  background: color.$error-25;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  color: color.$error-700;
  gap: 8px;
}

.error {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  display: flex;
  white-space: nowrap;
  align-items: center;
  padding: 0;
  gap: 9px;
  background-color: transparent;
  border: none;
  color: color.$error-700;
  cursor: pointer;
}
